<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="email"
      name="email"
      ngModel
      #emailInput="ngModel"
      placeholder="Email"
      required
      email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      placeholder="Password"
      name="password"
      ngModel
      #passwordInput="ngModel"
      required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <hr>
    <div>
      <button
      mat-raised-button
      color="accent"
      type="submit" *ngIf="!isLoading">Login</button>
      <p>
        Don't have an account? <a routerLink="/signup">Signup now</a>
      </p>
    </div>
  </form>
</mat-card>
