<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Enter Title Here">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
      matInput
      formControlName="content"
      rows="10"
      placeholder="Enter Content Here">
    </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter conent.</mat-error>
    </mat-form-field>
    <hr>
    <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
  </form>
</mat-card>
