:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 2%;
}

.postedImage {
  height: 100%;
}

.postedImage img {
  max-height: 100%;
  max-width: 75%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
